# Local Site Directories
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby Gems
.bundle
Gemfile.lock

# Log Files
*.log

# example documents
_posts/2015-09-25-how-to-undo-your-git-failure.md
_posts/2016-02-09-what-is-version-control.md
_posts/2016-04-17-do-not-go-gentle-into-that-good-night.md
_posts/2016-07-23-a-better-hello-world.md
_posts/2017-01-01-github-flow.md
_posts/2018-05-09-four-lessons-after-eleven-years-in-silicon-valley.md
_posts/2018-12-01-what-the-heck-is-a-callback.md
_posts/2018-12-10-clean-coding.md
_posts/2019-02-15-learn-react-js.md
_posts/2019-02-20-digital-minimalism.md
_projects/(1) PlaceHolder Project.md
_projects/(2) Awesome Project.md
_projects/(3) Empty Project.md
_projects/(4) VVG on GitHub.md
_projects/(5) The Fabulous.md
_projects/(6) Dummy Project.md